@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.Bandage{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
}

.Bandage h3{
    color: #252b42;
}

.Bandage #vector{
    row-gap: 50px;
}

nav .navigation{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    font-size: 30px;
    text-align: center;
    color: #737373;
    margin-top: 50px;
}

nav li{
    margin-top: 30px;
}

.container{
    text-align: center;
    margin-top: 140px;
    /* background-color: #96e9fb; */
    background: linear-gradient(90deg, #96E9FB 0%, #ABECD6 100%);
    border-radius: 14px;
    margin-left: 8px;
    margin-right: 8px;
}

.container h5{
    padding-top: 80px;
    color: #2A7CC7;
    font-size: 16px;
}

.container h1{
    color: #252b42;
    font-size: 40px;
    margin-top: 30px;
}

.container p{
    color: #737373;
    font-size: 20px;
    margin-top: 30px;
}

.container #botao{
    margin-top: 30px;
    margin-bottom: 60px;
    background-color: #23a6f0;
    color: #fff;
    border: none;
    padding: 15px 40px 15px 40px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container #none{
    padding: 0px;
}

.logos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 130px;
}

.logos img{
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.product-of-the-week{
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 30px;
    padding: 30px;
    position: relative;
    object-fit: cover;
    align-items: center;
}

.img-container{
    position: relative;
    overflow: scroll;
    display: block;
}

.overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height:60%;
    background-color: rgba(0, 132, 255, 0.377); /* Ajuste a cor e a opacidade conforme necessário */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.overlay h2 {
    margin: 0;
    padding: 10px;
    font-size: 1.5em;
}

.overlay button {
    background-color: white;
    color: #0057FF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.overlay button:hover {
    background-color: #0057FF;
    color: white;
}

.bestsellerproducts{
    text-align: center;
}

.bestsellerproducts h3{
    color: #252b42;
    margin-top: 50px;
    font-size: 24px;
}

.bestsellerproducts p{
    color: #737373;
    margin-top: 30px;
    font-size: 14px;
    margin-bottom: 40px;
}

.design h5{
    font-size: 16px;
    color: #252b42;
}

.design p{
    color: #737373;
    font-size: 14px;
}

.price{
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 10px;
}

.price #first{
    color: #BDBDBD;
}

.price #second{
    color: #23856D;
}


ul{
    list-style-type: none;
}

@media (min-width: 768px) {
    body {
        padding: 40px;
    }

    main {
        display: flex;
        gap: 20px;
    }

    main section {
        flex: 1;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    header, footer {
        padding: 20px;
    }

    nav ul li {
        margin: 0 15px;
    }
}
